{% extends 'example/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <header class="header">
        <img src="{% static 'icon/icon-logo.svg' %}" class="header__logo" alt="Воздушный шар">
        <div class="header__box">
            <h1 class="title-first">
                <span class="title-first__main">ТУРЫ НА ВОЗДУШНОМ ШАРЕ</span>
                <span class="title-first__second">незабываемое приключение ждет вас</span>
            </h1>
            <a href="#" class="btn btn_animated">наш каталог</a>
        </div>
    </header>
</div>


{% endblock %}